<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://studmysql01.fhict.local:3306/dbi369519</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="models.Mention"/>
      <mapping resource="mapping.xml"/>
      <mapping class="models.Trend"/>
      <mapping class="models.Tweet"/>
      <mapping class="models.User"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>